<md-button ng-if = "showAddFormButton" class="md-raised" md-ripple-size = "full" ng-click = "toggleAddForm()">Add A Product</md-button>


<div ng-if = "showAddForm">
  <md-input-container>
    <label>Item's name?</label>
    <input type="text" ng-model="product.title" required md-minlength="2">
  </md-input-container>

  <md-input-container>
    <label>Whats the new item's price?</label>
    <input type="number" ng-model="product.price" required md-minlength="2">
  </md-input-container>

  <md-input-container>
    <label>Whats the new item's description?</label>
    <input type="text" ng-model="product.description" required md-minlength="10">
  </md-input-container>
<md-button class="md-raised" md-ripple-size = "full" ng-click = "addProduct(product.title, product.price, product.description)">Submit</md-button>
<md-divider md-inset></md-divider>
</div>

<div layout="column" layout-align="left left" style="height: 50px;">
   <md-select placeholder="Select Product To Delete" ng-model="targetToDelete" md-on-open="getProducts()" style="min-width: 200px;">
     <md-option ng-value="product._id" ng-repeat="product in products">{{product.title}}</md-option>
   </md-select>
   <md-button ng-if = "targetToDelete" class="md-raised md-warn" md-ripple-size = "full" ng-click = "removeProduct(targetToDelete)">DELETE</md-button>
 </div>

 <md-button ng-if = "showEditButton" class="md-raised md-warn" md-ripple-size = "full" ng-click = "editButton()">Edit a product</md-button>

 <div ng-if = "showEditForm">
   <md-input-container>
     <label>What Item to edit?</label>
     <input type="text" ng-model="searchName" required md-minlength="2">
     <md-button class="md-raised md-warn" md-ripple-size = "full" ng-click = "getId(searchName)">Lookup Id!</md-button>
   </md-input-container>
 </div>

 <div ng-if = "productId">
   <md-input-container>
     <label>Item's name?</label>
     <input type="text" ng-model="editProduct.title" required md-minlength="2">
   </md-input-container>

   <md-input-container>
     <label>Whats the new item's price?</label>
     <input type="number" ng-model="editProduct.price" required md-minlength="2">
   </md-input-container>

   <md-input-container>
     <label>Whats the new item's description?</label>
     <input type="text" ng-model="editProduct.description" required md-minlength="10">
   </md-input-container>
   <md-button ng-if = "productId" class="md-raised md-warn" md-ripple-size = "full" ng-click = "editAnItem(productId, editProduct.title, editProduct.price, editProduct.description)">Edit!</md-button>

</div>
